.home-page {
  position: relative;
  padding: 10px;
  overflow-x: hidden;
}

.auth-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  z-index: 1000;
}

.login-signup-group {
  display: flex;
  gap: 10px;
}

.common-button {
  display: inline-block;
  padding: 12px;
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  line-height: 1.5;
  width: auto;
  max-width: 180px;
  margin-bottom: 10px;
}

.logout-button {
  background-color: #d32f2f;
}

.common-button:hover {
  background-color: #45a049;
}

.logout-button:hover {
  background-color: #f44336;
}

.sliding-panel {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.4s;
  padding-top: 60px;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.sliding-panel.open {
  width: 250px;
}

.close-panel-btn {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 36px;
  background: none;
  border: none;
  cursor: pointer;
  color: #333;
}

.sliding-panel ul {
  list-style-type: none;
  padding: 0;
}

.sliding-panel ul li {
  padding: 8px 0;
  font-size: 18px;
  border-bottom: 1px solid #ccc;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

@media (max-width: 768px) {
  .common-button {
    font-size: 12px;
    padding: 8px;
    max-width: 150px;
  }
}

@media (max-width: 480px) {
  .common-button {
    font-size: 10px;
    padding: 6px;
    max-width: 120px;
  }

  .sliding-panel ul li {
    font-size: 16px;
  }
}