.eyewear-category-container {
    padding: 20px;
}

.nav-strip {
    background-color: navy;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-link {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 60px;
}

.product-item {
    margin: 10px;
    cursor: pointer;
    text-align: center;
}

.product-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}